


.artist_top_logo{

  width: 50%;
  margin: 50px auto;
  border: 2px solid red;
  text-align: center;
  position: relative;
  top: 00;
}


.artist_top_logo img{

  width: 40%;
  border: 2px solid green;
  margin: 50px 00;

}


.artist_name_slider_artpage{
  position: relative;
  top: 200px;

}

.artist_name_scroll {
  color: yellow;
  font-weight: 700;
  font-size: 44px;
  margin: 00 10px;
}


.artists_callage_items{
  display: grid;
  grid-template-columns:auto auto auto auto auto;
  align-content: center;
  gap: 5px;
  margin-top: 30vh;
}

.artist_image_item{
  height: 600px;
  /* border: 1px solid red; */
  background-color: #fff;
  border-radius: 10px;
  padding: 5px;
}

.artist_image_item img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  border-radius: 10px;
  /* object-fit: contain; */
}


@media screen and (min-width: 2400px) {
  .artistpage_heading {
    margin: 250px auto 20px auto;
  }
}
