.photobyalbum_section {
  margin: 0 auto;
  max-width: 90%;
  padding: 3rem 0;
  width: 100vw;
}

.photobyalbum_pic_sect {
  margin: 10px;
  position: relative;


  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(128, 0, 128, 0.8) 0px 10px 10px;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(90%);

}


.photobyalbum_pic_sect:hover{
  filter: brightness(100%);
  transform: scale(1.1);
}

.photobyalbum_pic_sect img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem crimson);




}

.background-video {
  width: 100%;
}

.photobyambum_head_text {
  width: 100%;
  /* height: 18vh; */
  color: #fff;
  font-size: 80px;
  font-weight: bold;
  padding-left: 70px;
  margin: 50px auto 30px auto;
  text-align: center;
}

.photobyalbum_pic_content {
  color: #fff;
  position: absolute;
  bottom: 0px;
  align-items: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.607);
  width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

}

.photobyalbum_icon {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 64px;
}


.photobyalbum_icon_heart{

  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  font-size: 64px;
  color: red;
}



.photobyalbum_icon_txt {
  padding: 10px;
  background-color: #00000091;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: -30px;
}

.photobyalbum_pic_sect:hover .photobyalbum_pic_content {
  display: flex;
  cursor: pointer;
  justify-content: center;
}

.photobyalbum_pic_content_item {
  position: relative;
}

.photobyalbum_pic_content_item:hover .photobyalbum_icon_txt {
  display: block;
}

/* .photobyalbum_pic_sect{


} */

.photobyalbum_headersect {
  margin: 20px 00 250px 00;
}


.photoallbum_like_count{

  position: absolute;
  top: 5px;
  right: 25px;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  background-color: crimson;
}