body {
  margin: 0;
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Apply black background to widget wrapper */
.js-widget-wrapper {
  background-color: #000 !important;
  padding: 0 !important;
  border-radius: 10px;
}
